language: php

php:
  - 7.2

sudo: true

before_install:
  # Update docker
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  # Update docker-compose
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/1.21.2/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  # Install ddev
  - curl -L https://raw.githubusercontent.com/drud/ddev/master/install_ddev.sh | sudo bash

script:
  - >
    echo "Running acceptance tests";
    ddev start;
    ddev import-db --src=./data/db.sql;
    ddev import-files --src=./assets;
    ddev exec ../bin/codecept run acceptance -d -c ../Tests/codeception.yml
